/* Use all space on the left as no profile sidebar is used */
article.page {
    float: left;
    width: 100%;
}

/* Additional class for social icons to not take up as much space */
.restricted_size img {
    width: auto !important;
    max-height: 130px;
}

.restricted_size a:not(.btn):hover img {
    box-shadow: none !important;
}

/* Copyright comment */
@import "minimal-mistakes/copyright";

/* Variables */
@import "minimal-mistakes/variables";

$caption-font-family: $sans-serif;

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";

/* Additional quarter layout */
figure {
    &.quarter {

        >a,
        >img {
            width: calc(50% - 0.5em);

            @include breakpoint($medium) {
                width: calc(25% - 0.5em);
            }
        }

        figcaption {
            width: 100%;
        }
    }
}

/* Thanks notice with icon bar */
.thx {
    display: flex;
    box-shadow: none !important;

    div.notice-icon {
        border-radius: 0 $border-radius $border-radius 0;
        margin: -1em -1em -1em 0.25em;
        padding: 0.25em;
        align-content: center;
        background-color: rgba(red, 0.25);
        color: red;
    }
}

/* Change notice font size */
.notice,
.notice--primary,
.notice--info,
.notice--warning .notice--success,
.notice--danger {
    font-size: $type-size-5 !important;
}

.sit_organizer .feature__item {
    margin-bottom: 2em;

    float: inline-start;
    margin-inline: 0;
    width: span(3 of 6);

    &:nth-child(2n + 1) {
        clear: both;
        margin-inline-start: 0;
    }

    &:nth-child(2n + 2) {
        clear: none;
        margin-inline-start: gutter(of 6);
    }

    @include breakpoint($small) {
        float: inline-start;
        margin-inline: 0;
        width: span(3 of 12);

        &:nth-child(3n + 1) {
            clear: none;
            margin-inline-start: 0;
        }

        &:nth-child(3n + 2) {
            clear: none;
            margin-inline-start: 0;
        }

        &:nth-child(3n + 3) {
            clear: none;
            margin-inline-start: 0;
        }

        &:nth-child(4n + 1) {
            clear: both;
            margin-inline-start: 0;
        }

        &:nth-child(4n + 2),
        &:nth-child(4n + 3),
        &:nth-child(4n + 4) {
            clear: none;
            margin-inline-start: gutter(of 12);
        }
    }
}